extends layout

block content
  h1.p #{title}

  div
  ul User Story:
    li User Story: I can get the IP address, language and operating system for my browser.
  br
  ul Instructions:
    li Place the following onto the "end" of the url in the address bar above: /api/whoami
    li The entire address should look like: https://mbimagesearch.herokuapp.com/api/whoami

  h1= title
  p Welcome to #{title}

