body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
<<<<<<< HEAD
h1.p {
  text-align: center;
}
=======
>>>>>>> f7a4ab0572720d909352a27c790bdfd5c8108b84
